:root{
    --bezowy: #c2b280;
    --j_bez: #d8d1ba;
    --c_bez: #a4935d;
    --s_bez: #bbaf87;
  }
  
  *{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bezowy);
    text-align: center;
  }
  nav{
    background-color: var(--c_bez);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
  }
  h1, #h1{
    height: auto;
    text-shadow: var(--s_bez) 2px 2px 2px;
    color: var(--j_bez);
    font-weight: bolder;
    font-size: 50px;
  }
  button{
    width: 5rem;
    height: 2.5rem;
    font-size: 30px;
    background-color: var(--c_bez);
    color: var(--j_bez);
    text-shadow: var(--s_bez) 2px 2px 2px;
    border: none;
    border-radius: 2px;
    margin: 10px;
    text-decoration: none;

  }
  table{
    height: 90%;
  }
  
  td{
    width: 8rem;
    height: 8rem;
    background-color: var(--c_bez);
    color: var(--j_bez);
    text-shadow: var(--s_bez) 2px 2px 2px;
  }
  .batonik{
    background: none;
    font-size: 70px;
    width: 100%;
    height: 100%;
    color: var(--j_bez);
    text-shadow: var(--s_bez) 2px 2px 2px; 
    margin: 0;
  }
  
  div#przyciski{
    height: 15%;
  }
  
  main{
    
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .bingus{
    width: 100%;
    height: 100%;
    background-color: var(--j_bez);
    color: var(--c_bez);
    text-shadow: var(--s_bez) 2px 2px 2px;
  }
  
